In [113]:
#task 1
#in built functions
a = [1,2,3,4,5,6,7,8,9]
b = [9,7,5,4,4,3,2,1]
print(a)
print(b)
a.insert(10,10)
print(a)
b.remove(4)
print(b)
d = [11]
a.extend(d)
print(a)
c = sum(a+b)
print(c)
print(min(a))
print(max(b))
print(a.index(3))

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[9, 7, 5, 4, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[9, 7, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
97
1
9
2

In [100]:
#task 2
str1 = "welcome to python"
str2 = "to"
if (str1.count(str2)) == 1:
    print("to is not existed")
else:
    print("to is not existed")

to is not existed

In [123]:
#task 3.1
a = [1,2,3,4,5,6,7,8,9,10,11]
a.sort(reverse=1)
print(a)
a.clear()
print(a)

[11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[]

In [122]:
#task 3.2
# create a list of lenght = 10 and access 5th to 8th data.

list1 = [1,2,3,"hlo","python","email",5,6,7,11]
len(list1)
list1[4:8]

['python', 'email', 5, 6]

In [53]:
#task 4.1
#Add item 70 after 60 in the following Python List
#input
l1 = [10, 20, [30, 40, [50, 60], 80], 90, 100]
l1[2][2]=70

[10, 20, [30, 40, [50, 60, 70], 80], 90, 100]

In [54]:
#task 4.2
#add sublist [7,8] after 6
#input
l2 = [1,2,[3,4,5,6],9]
l2[2:] = [7,8]

[1, 2, [3, 4, 5, 6, [7, 8]], 9]

In [67]:
#task 5
dict1 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}

#access "Mike"
dict1["april_batch"]["student"]["name"]

'Mike'

In [68]:

#access 80
dict1["april_batch"]["student"]["marks"]["python"]

80

In [70]:
#change "Mike" to "Your name"
dict1["april_batch"]["student"]["name"]="durga"
dict1

{'april_batch': {'student': {'name': 'durga',
   'marks': {'python': 80, 'maths': 70}}}}

In [79]:
#add ML = 80 and DL = 80 inside marks
dict1["april_batch"]["student"]["marks"]["DL"]=80
dict1
dict1["april_batch"]["student"]["marks"]["ML"]=80
dict1

{'april_batch': {'student': {'name': 'durga',
   'marks': {'python': 80, 'maths': 70, 'DL': 80, 'ML': 80}}}}

In [80]:
#Task6 - Add and remove the elements from a tuple.

tup1 = (1,2,3,"durga","live","guntur",2.3,1.1)
tup1

(1, 2, 3, 'durga', 'live', 'guntur', 2.3, 1.1)

In [81]:
#add element
list1 = list(tup1)
list1

[1, 2, 3, 'durga', 'live', 'guntur', 2.3, 1.1]

In [82]:
len(list1)

8

In [84]:
list1.insert(9,11)
list1

[1, 2, 3, 'durga', 'live', 'guntur', 2.3, 1.1, 11]

In [85]:
#remove element
list1.pop(4)
list1

[1, 2, 3, 'durga', 'guntur', 2.3, 1.1, 11]

In [86]:
tup1 = tuple(list1)
tup1

(1, 2, 3, 'durga', 'guntur', 2.3, 1.1, 11)

In [88]:
#task 7
#difference()
data1 = {10,20,30,70,80,100}
data2 = {10,30,40,50,70,90}
print(data1.difference(data2))
print(data2.difference(data1))

#symmetric_difference()
print(data1.symmetric_difference(data2))

{80, 100, 20}
{40, 50, 90}
{80, 50, 100, 90, 20, 40}

In [1]:
#task 8
#inbuilt data structures
##list - represented by []
- indexation and slicing is possible
- dfferent data elements
- immutable

##sets - represented by {}
- indexation and slicing is not possible
- dfferent data elements
- mutable
- can not modify existing element
- duplicate elements are not possible


##tuple - represented by ()
- indexation and slicing is not possible
- dfferent data elements
- immutable
- duplicate elements are possible

##dictionary - represented by {key : value}
- indexation and slicing is possible
- dfferent data elements
- immutable

SyntaxError: invalid syntax (<ipython-input-1-539bad2b6af7>, line 5)

In [2]:
#task 9
num1 = input("enter first number")
num2 = input("enter second number")
num1 = int(num1)
num2 = int(num2)
number = [1,2,3,4]
i = input("press 1 for addition 2 for subtraction 3 for multiplication and 4 for division")
i = int(i)
if (i == number[0]):
    print(num1 + num2)
elif (i == number[1]):
    print(num1 - num2)
elif (i == number[2]):
    print(num1 * num2)
elif (i == number[3]):
    print(num1 / num2)
    
else:
    print("you have given wrong input")

enter first number3
enter second number2
press 1 for addition 2 for subtraction 3 for multiplication and 4 for division1
5

In [3]:
#task 10.1
#Task 10.1 = what is the uasge of continue wiith an example
for i in range(30):
    if(i%3==0):
        print(i)
    else:
        continue

0
3
6
9
12
15
18
21
24
27

In [9]:
#task 10.2
#Task 10.2 What is pass keyword, with example.
# pass - instead of throwing error, pass will print nothing in the absence of code
for i in range(17):
    pass

In [1]:
#task 10
#using while loop print numbers from 10 to 1
i = 10
while (i<=10):
    print(i)
    i = i-1
    if(i==0):
        break

10
9
8
7
6
5
4
3
2
1

In [5]:
#task 10
#try using for loop to loop over tuples,sets and dictionaries
seq = ("human",1,3)
for item in seq:
    print(item)

human
1
3

In [6]:
#task 11
#return
def mul(a,b):
    c=a*b
    return c
print("a value is{} and b value is{}.format(a,b)")

a value is{} and b value is{}.format(a,b)

In [7]:
mul(1,3) # print() is not executed. Because statements afterreturn will not get executed

3

In [23]:
#task 11
#Ask 2 numbers from users and store it in num1 and num2
#Ask user to press 1 for addition,2 for subtraction,3 for multiplication and 4 for division
#create 4 seperate functions for each operation (i.e. addition,subtraction,multiplication and division)
#based on number given by user,call that perticular function and print the output
num1 = input("enter first number")
num2 = input("enter second number")
num1 = int(num1)
num2 = int(num2)
number = [1,2,3,4]
i = input("press 1 for addition 2 for subtraction 3 for multiplication and 4 for division")
i = int(i)
if (i == number[0]):
    add(num1,num2)
elif (i == number[1]):
    sub(num1,num2)
elif (i == number[2]):
    mul(num1,num2)
elif (i == number[3]):
    div(num1,num2)
else:
    print("please enter valid number")
def add(num1,num2):
    num3 = num1+num2
    return num3
def sub(num1,num2):
    num3 = num1-num2
    return num3
def mul(num1,num2):
    num3 = num1*num2
    return num3
def div(num1,num2):
    num3 = num1/num2
    return num3

enter first number10
enter second number30
press 1 for addition 2 for subtraction 3 for multiplication and 4 for division2

In [10]:
#task 12
#zip()

veg = ("mint","mushroom")
n_veg = ("chicken","mutton")

num1 = [1,1,2,3,3,4,5,6,6]
num2 = [2,3,5,5,6,6,11]

menu = zip(veg, n_veg)
print(list(menu))

num = zip(num1, num2)
print(list(num))

[('mint', 'chicken'), ('mushroom', 'mutton')]
[(1, 2), (1, 3), (2, 5), (3, 5), (3, 6), (4, 6), (5, 11)]

In [11]:
import functools

In [25]:
#reduce()
l1 = [3,6.2,1,1,3]
print(functools.reduce(lambda a,b:a+b, l1))

14.2

In [33]:
#enumerate()
n_veg = ("chicken","mutton")
p = list(enumerate(n_veg))

In [34]:
p

[(0, 'chicken'), (1, 'mutton')]