In [113]:
#task 1
#in built functions
a = [1,2,3,4,5,6,7,8,9]
b = [9,7,5,4,4,3,2,1]
print(a)
print(b)
a.insert(10,10)
print(a)
b.remove(4)
print(b)
d = [11]
a.extend(d)
print(a)
c = sum(a+b)
print(c)
print(min(a))
print(max(b))
print(a.index(3))

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[9, 7, 5, 4, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[9, 7, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
97
1
9
2

In [100]:
#task 2
str1 = "welcome to python"
str2 = "to"
if (str1.count(str2)) == 1:
    print("to is not existed")
else:
    print("to is not existed")

to is not existed

In [123]:
#task 3.1
a = [1,2,3,4,5,6,7,8,9,10,11]
a.sort(reverse=1)
print(a)
a.clear()
print(a)

[11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[]

In [122]:
#task 3.2
# create a list of lenght = 10 and access 5th to 8th data.

list1 = [1,2,3,"hlo","python","email",5,6,7,11]
len(list1)
list1[4:8]

['python', 'email', 5, 6]

In [53]:
#task 4.1
#Add item 70 after 60 in the following Python List
#input
l1 = [10, 20, [30, 40, [50, 60], 80], 90, 100]
l1[2][2]=70

[10, 20, [30, 40, [50, 60, 70], 80], 90, 100]

In [54]:
#task 4.2
#add sublist [7,8] after 6
#input
l2 = [1,2,[3,4,5,6],9]
l2[2:] = [7,8]

[1, 2, [3, 4, 5, 6, [7, 8]], 9]

In [67]:
#task 5
dict1 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}

#access "Mike"
dict1["april_batch"]["student"]["name"]

'Mike'

In [68]:

#access 80
dict1["april_batch"]["student"]["marks"]["python"]

80

In [70]:
#change "Mike" to "Your name"
dict1["april_batch"]["student"]["name"]="durga"
dict1

{'april_batch': {'student': {'name': 'durga',
   'marks': {'python': 80, 'maths': 70}}}}

In [79]:
#add ML = 80 and DL = 80 inside marks
dict1["april_batch"]["student"]["marks"]["DL"]=80
dict1
dict1["april_batch"]["student"]["marks"]["ML"]=80
dict1

{'april_batch': {'student': {'name': 'durga',
   'marks': {'python': 80, 'maths': 70, 'DL': 80, 'ML': 80}}}}

In [80]:
#Task6 - Add and remove the elements from a tuple.

tup1 = (1,2,3,"durga","live","guntur",2.3,1.1)
tup1

(1, 2, 3, 'durga', 'live', 'guntur', 2.3, 1.1)

In [81]:
#add element
list1 = list(tup1)
list1

[1, 2, 3, 'durga', 'live', 'guntur', 2.3, 1.1]

In [82]:
len(list1)

8

In [84]:
list1.insert(9,11)
list1

[1, 2, 3, 'durga', 'live', 'guntur', 2.3, 1.1, 11]

In [85]:
#remove element
list1.pop(4)
list1

[1, 2, 3, 'durga', 'guntur', 2.3, 1.1, 11]

In [86]:
tup1 = tuple(list1)
tup1

(1, 2, 3, 'durga', 'guntur', 2.3, 1.1, 11)

In [88]:
#task 7
#difference()
data1 = {10,20,30,70,80,100}
data2 = {10,30,40,50,70,90}
print(data1.difference(data2))
print(data2.difference(data1))

#symmetric_difference()
print(data1.symmetric_difference(data2))

{80, 100, 20}
{40, 50, 90}
{80, 50, 100, 90, 20, 40}

In [ ]:
#task 8
#inbuilt data structures
##list - represented by []
- indexation and slicing is possible
- dfferent data elements
- immutable

##sets - represented by {}
- indexation and slicing is not possible
- dfferent data elements
- mutable
- can not modify existing element
- duplicate elements are not possible


##tuple - represented by ()
- indexation and slicing is not possible
- dfferent data elements
- immutable
- duplicate elements are possible

##dictionary - represented by {key : value}
- indexation and slicing is possible
- dfferent data elements
- immutable